/* Tipo de letra*/
* {font-family: 'Droid Sans', sans-serif;}

 /* Inicia Blog*/
.a-lo{
	 color:#848484;
	 font-weight:bold;
}

.a-ico{
	color:red;
	font-size:24px;
}
.a-gris{
    margin-top:10%;
    margin-bottom:10%;
    margin-left: 45%;
	width:120%;
	height:190px;
	border: 2px solid #BDBDBD;
	background-color:white;
	h4{
	 font-weight:bold;
	}
	.a-gray{
	    width:95%;
	    height:80px;
	    background-color:#D8D8D8;
	    margin-top:15%;
	    margin-left:2.5%;
	}
}
.a-pic{
	margin-left:-45%;
	margin-top:3%;
}
.a-blo{
    margin-top:-28%;
	p{
	  font-weight:bold;
	  font-size:16px;
	}
}
.a-uno{
	margin-left:15%;
}
.a-dos{
	margin-top:-4%;
	margin-left:22%;
	color:#848484;
}
.a-tres{
	margin-top:-4%;
	margin-left:36%;
	color:#848484;
	font-size:14px !important;
}
.a-cuatro{
	font-size:14px !important;
	margin-bottom:-4%;
}
.a-cinco{
	font-size:9px !important;
	margin-left:36%;
	font-weight:bold;
}
.a-seis{
	font-size:10px !important;
	margin-left:46%;
	text-align:left;
}
.a-siete{
	font-size:14px !important;
	margin-top:8%!important;
}
.a-ocho{
	font-size:12px !important;
	color:#848484;
	margin-left:35%;
	margin-top:-2%;
}
.a-nueve{
	font-size:10px !important;
	color:#848484;
	margin-left:37%;
	margin-top:-4%;
}
 /*Termina Blog*/
 /*inicia Banner*/

 .a-banner-space{
     margin-left:2em;
}

 .a-banner-space1{
    margin-left: 15em !important;
}

 .a-banner-row{
  margin-left:14em;
  h6{
  font-size:10px;
  }
 }
 .a-banner-col{
 margin-left:2.05em!important;
 position:relative;
 }
 /*Termina Banner*/
 /*Barrita home */
.a-mar{
	margin-left:10%;
	}
.a-let{
	font-size:40px;
	font-weight:bold;
	margin-left:4em;
}
ul#menu {
margin-left:6em;
	li{
		display:inline;
		font-weight:bold;
	}
}
 /*Imagenes home */
.a-row-home{
	margin-top:-53%!important;
	position:absolute;
	margin-left:5%;
}
.a-image{
   margin-left:5%;
	h2,h3{
	position:relative;
	color:white;
	margin-top:-25%;
	margin-left:5%;
	font-size:20px;
	font-weight:bold;
	}
	h3{
	font-size:16px;
	}
}
.a-fut{
	margin-top:17%;
	
}

/*Terminan imágenes home*/
/*Banner home*/
.a-mar-banner{
	margin-left:-5em;
}
.a-mar-banner1{
	margin-left:1.5em;
}
/*Termina Banner home*/

 


 